scipy
numpy>=1.22
setuptools
pytest
urllib3
matplotlib>=3.3.0
pip
bump2version
wheel
watchdog
flake8
coverage
Sphinx
twine
cryptography
PyYAML
pytest-runner
numpydoc
pydata-sphinx-theme
autodocsumm
pyfar>=0.7.3,<0.8.0
nbsphinx
nbsphinx-link
ipykernel
pydata-sphinx-theme
sphinx-design
sphinx-favicon
