pip
bump2version
wheel
watchdog
ruff==0.4.1
coverage
Sphinx
twine

pytest
pytest-runner
pytest-cov

numpy>=1.22
scipy
matplotlib>=3.3.0
pyfar
autodocsumm
pydata-sphinx-theme
sphinx-design
sphinx-favicon
sphinx-reredirects
