scipy
numpy>=1.22
setuptools
pytest
urllib3
matplotlib>=3.3.0
pip
bump2version
wheel
watchdog
flake8
tox
coverage
Sphinx
twine
cryptography
PyYAML
pytest-runner
numpydoc
insipid-sphinx-theme
autodocsumm
nbmake
pyfar @ https://github.com/pyfar/pyfar/tree/develop
